.menu {
    display: flex;
}

.header {
    background-color: #D9BD89;
    padding: 0.5em;
    width: 100%;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.35);
}

.header li {
    padding-left: 2em;
    padding-right: 2em;
}

.nav-link {
    color: #1D1D1D;
    font-weight: 700;
}

.nav-link:hover {
    color: #732020;
    transition: ease-in-out 0.3s;
}