.under_construction {
    background: url(../src/images/old_black_texture.jpg);
    background-position: center top;
    background-size: 100% auto;
}

.under_construction h1 {
    color: yellow;
}

.under_construction h3 {
    color: #FFF;
    margin-top: 1em;
}

.under_construction svg {
    color: white;
    margin: 0.4em;
    font-size: 2em;
    margin-top: 1em;
}